<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Dashboard</title>
    <script src="acc_dashboard_new.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>

  <body>
    <header id="header-component"></header>
    <main>
      <div class="dashboard-2">
        <div class="dashboard-2-content containers">
          <h2 class="dashboard-2-section-title">Account Dashboard</h2>
          <div class="dashboard-2-menu" id="dashboard-2-menu">
            <details>
              <summary>
                <div>
                  <em class="fa-solid fa-box"></em>
                  <h3>Manage Products</h3>
                </div>
              </summary>
              <div>
                <p><a href="./create_product.html">Create Product</a></p>
                <p><a href="./list_products.html">View Product (List View)</a></p>
              </div>
            </details>
            <details>
              <summary>
                <div>
                  <em class="fa-solid fa-tags"></em>
                  <h3>Manage Features</h3>
                </div>
              </summary>
              <div>
                <p><a href="./create_feature.html">Create Feature</a></p>
                <p><a href="./list_features.html">View Feature (List View)</a></p>
              </div>
            </details>
            <details>
              <summary>
                <div>
                  <em class="fa-solid fa-clipboard-list"></em>
                  <h3>Manage Orders</h3>
                </div>
              </summary>
              <div>
                <p><a href="./list_orders.html">View Order (List View)</a></p>
              </div>
            </details>
            <details>
              <summary>
                <div>
                  <em class="fa-solid fa-users"></em>
                  <h3>Manage Customers</h3>
                </div>
              </summary>
              <div>
                <p><a href="./list_customers.html">View Customer (List View)</a></p>
              </div>
            </details>
            <details>
              <summary>
                <div>
                  <em class="fa-solid fa-user-gear"></em>
                  <h3>Manage Users</h3>
                </div>
              </summary>
              <div>
                <p><a href="./create_user.html">Create User</a></p>
                <p><a href="./list_users.html">View User (List View)</a></p>
              </div>
            </details>
            <details>
              <summary>
                <div>
                  <em class="fa-solid fa-rotate-left"></em>
                  <h3>Go Back To Old Design</h3>
                </div>
              </summary>
              <div>
                <p><a href="./acc_dashboard.html">Go Back To Old Design</a></p>
              </div>
            </details>
            <details>
              <summary>
                <div>
                  <em class="fa-solid fa-right-from-bracket"></em>
                  <h3>Logout</h3>
                </div>
              </summary>
              <div>
                <p><a href="./logout.html">Logout</a></p>
              </div>
            </details>
          </div>
        </div>
      </div>
    </main>
    <footer id="footer-component-min"></footer>
  </body>
</html>
