<nav class="nav-content containers" id="nav-content">
  <a class="nav-logo show-only-on-desktop" href="/index.html">
    <img src="/img/logo_TMH.svg" alt="The Mobile Hour logo" />
  </a>
  <div class="nav-toggle">
    <em class="fa-solid fa-bars" onclick="toggleNavItems()"></em>
    <p>
      <a href="/login.html" class="nav-button-mobile button-dark">Login</a>
    </p>
  </div>
  <!-- "nav-menu" has a toggle switch class called "nav-shown" -->
  <div class="nav-menu">
    <p>
      <a class="nav-list-item" href="/index.html">Home</a>
    </p>
    <p>
      <a class="nav-list-item" href="/list_products_customer.html">Products</a>
    </p>
  </div>
  <div class="nav-button-menu show-only-on-desktop">
    <a href="/login.html" class="nav-button button-dark">
      <p>Login</p>
    </a>
  </div>
</nav>
