<div class="footer-content containers">
  <img src="/img/logo_TMH.svg" alt="The Mobile Hour logo" class="footer-logo" />
  <div class="footer-menu">
    <div class="footer-list-item column">
      <p>Home</p>
      <ul class="footer-list-item-column column">
        <li class="footer-list-item-row row">
          <a href="index.html" title="Home">
            <p>Back to Home</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-list-item column">
      <p>Products</p>
      <ul class="footer-list-item-column column">
        <li class="footer-list-item-row row">
          <a href="list_products_customer_apple.html" title="Apple products">
            <p>Apple</p>
          </a>
        </li>
        <li class="footer-list-item-row row">
          <a href="list_products_customer_google.html" title="Google products">
            <p>Google</p>
          </a>
        </li>
        <li class="footer-list-item-row row">
          <a href="list_products_customer_oppo.html" title="OPPO products">
            <p>OPPO</p>
          </a>
        </li>
        <li class="footer-list-item-row row">
          <a href="list_products_customer_samsung.html" title="Samsung products">
            <p>Samsung</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-list-item column">
      <p>About Us</p>
    </div>
    <div class="footer-list-item column">
      <p>Contact Us</p>
    </div>
    <div class="footer-list-item column">
      <p>Follow Us</p>
      <ul class="footer-followus-column column">
        <li class="footer-followus-row row">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            title="Facebook"
            class="fa-brands fa-facebook-square"
          >
          </a>
          <p>Facebook</p>
        </li>
        <li class="footer-followus-row row">
          <a
            href="https://www.twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
            title="Twitter"
            class="fa-brands fa-twitter-square"
          >
          </a>
          <p>Twitter</p>
        </li>
        <li class="footer-followus-row row">
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            title="Instagram"
            class="fa-brands fa-instagram-square"
          >
          </a>
          <p>Instagram</p>
        </li>
        <li class="footer-followus-row row">
          <a
            href="https://www.youtube.com"
            title="Youtube"
            target="_blank"
            rel="noopener noreferrer"
            class="fa-brands fa-youtube-square"
          >
          </a>
          <p>Youtube</p>
        </li>
        <li class="footer-followus-row row">
          <a
            href="https://www.pinterest.com"
            target="_blank"
            rel="noopener noreferrer"
            title="Pinterest"
            class="fa-brands fa-pinterest-square"
          >
          </a>
          <p>Pinterest</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <small class="footeer-bottom-copyright">Copyright &copy; 2022 The Mobile Hour. All rights reserved.</small>
    <div class="footer-bottom-payment-icons">
      <div class="afterpay">afterpay</div>
      <div class="zippay-primary">zippay</div>
      <div class="klarna-pink">klarna</div>
      <div class="paypal">paypal</div>
      <div class="visa">visa</div>
      <div class="mastercard">master card</div>
      <div class="americanexpress">american express</div>
    </div>
  </div>
</div>
