<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Customer</title>
    <script src="delete_customer.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>

  <body>
    <main>
      <div class="central-panel-1">
        <div class="central-panel-1-content">
          <h2>Confirm delete:</h2>
          <p class="note-1"
            ><b>Note:</b> Delete prompt is located in a separate html page for demonstration purposes; realistically,
            this will be designed as a modal
          </p>
          <div id="customer-details"> </div>
          <input type="button" value="Delete" id="delete-button" class="button-dark" />
          <a href="/list_customers.html" class="button-light">Back</a>
        </div>
      </div>
    </main>
    <footer id="footer-component-min"></footer>
  </body>
</html>
