<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Customer</title>
    <script src="edit_customer.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>

  <body>
    <nav id="header-component"></nav>
    <main>
      <div class="central-panel-2">
        <div class="central-panel-2-content">
          <form id="edit-customer-form">
            <label for="customer-id">Customer ID (read only):</label>
            <input type="text" id="customer-id" name="customer_id" readonly />
            <label for="customer-firstname">First Name (required):</label>
            <input
              type="text"
              id="customer-firstname"
              name="firstname"
              pattern="^([A-Z][a-z]+([ ]?[a-z]?['-]?[A-Z][a-z]+)*)$"
              required
            />
            <label for="customer-lastname">Last Name (required):</label>
            <input
              type="text"
              id="customer-lastname"
              name="lastname"
              pattern="^([A-Z][a-z]+([ ]?[a-z]?['-]?[A-Z][a-z]+)*)$"
              required
            />
            <label for="customer-phone">Phone (required):</label>
            <input type="text" id="customer-phone" name="phone" />
            <label for="customer-email">Email (required):</label>
            <input type="text" id="customer-email" name="email" />
            <label for="customer-street">Street (required):</label>
            <input type="text" id="customer-street" name="street" />
            <!-- according to Wiki, international postal codes might contain letter, number and hyphen -->
            <label for="customer-postcode">Postcode (required):</label>
            <input type="text" id="customer-postcode" name="postcode" />
            <label for="customer-city">City (required):</label>
            <input type="text" id="customer-city" name="city" pattern="[a-zA-Z\s]{2,}" required />
            <label for="customer-state">State (required):</label>
            <input type="text" id="customer-state" name="state" pattern="[a-zA-Z]{2,}" required />
            <input type="submit" value="Update Customer" class="button-dark" />
          </form>
        </div>
      </div>
    </main>
    <footer id="footer-component-min"></footer>
  </body>
</html>
