<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Mobile Hour</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>

  <body>
    <header id="header-component"></header>
    <main>
      <div class="hero-section-1">
        <h1>The Mobile Hour</h1>
        <h3
          >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, amet facere debitis odit beatae
          tempore..</h3
        >
        <div>
          <p>
            <a href="/list_products_customer.html" class="button-dark">Start Shopping</a>
          </p>
          <p>
            <a href="#testimony-1" class="button-light">View Testimony</a>
          </p>
        </div>
      </div>
      <div class="logos-1">
        <div class="logos-1-content containers">
          <h2>Brand We Sell</h2>
          <div>
            <h3>Samsung</h3>
            <h3>Apple</h3>
            <h3>Google</h3>
            <h3>OPPO</h3>
            <h3>Motorola</h3>
            <h3>Xiaomi</h3>
            <h3>vivo</h3>
            <h3>Realme</h3>
            <h3>Huawei</h3>
            <h3>LG</h3>
            <h3>Nokia</h3>
          </div>
        </div>
      </div>
      <div class="testimony-1" id="testimony-1">
        <div class="testimony-1-content containers">
          <div>
            <div></div>
          </div>
          <div>
            <img src="/img/five_star_rating.svg" alt="Five star rating" />
            <h3
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tempora blanditiis ipsum laboriosam
              doloribus facere iusto quis perferendis, neque dolores minima maxime ipsa non quia reiciendis earum quas
              quo! Nisi odit voluptatibus nihil iusto unde earum distinctio numquam omnis possimus.</h3
            >
            <h3>Jane Doe</h3>
            <h3>Position Name, Company Name</h3>
          </div>
        </div>
      </div>
    </main>
    <footer id="footer-component"></footer>
  </body>
</html>
