<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products</title>
    <script src="list_products_customer.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>

  <body>
    <header id="header-component"></header>
    <main>
      <div class="hero-section-2 hero-all">
        <div class="hero-section-2-content containers">
          <h1>All Products</h1>
          <h3
            >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, amet facere debitis odit beatae
            tempore..</h3
          >
        </div>
      </div>
      <div class="product-section-1">
        <div class="product-section-1-content containers">
          <h2>Products</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est nulla, ab dolores voluptas velit!</p>
          <div class="search-bar">
            <div class="search-input-bar">
              <input type="text" name="search-terms" id="search-terms" placeholder="Search..." />
              <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                <path
                  d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
                />
              </svg>
            </div>
            <button class="button-dark" id="search-button" aria-label="Search product" type="submit">
              <em class="fa-solid fa-magnifying-glass"></em>
            </button>
          </div>
          <div class="product-grid" id="product-list">
            <!-- <div class="product-card">
                    <img src="/img/....jpg" alt="...">
                    <span>Phone Name</span>
                    <span>Model</span>
                    <span>Brand</span>
                    <a href="#">View</a>
                    <a href="#">Buy</a>
                </div> -->
          </div>
        </div>
      </div>
    </main>
    <footer id="footer-component"></footer>
  </body>
</html>
