<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout User</title>
    <script src="logout.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>

  <body>
    <main>
      <div class="central-panel-1">
        <div class="central-panel-1-content">
          <h2>Confirm logout</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, illum.</p>
          <input type="button" value="Logout" id="logout-button" class="button-dark" />
        </div>
      </div>
    </main>
    <footer id="footer-component-min"></footer>
  </body>
</html>
