<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Product</title>
    <script src="view_product.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  </head>

  <body>
    <header id="header-component"></header>
    <main>
      <div class="product-individual-1">
        <div class="product-individual-1-content containers">
          <div id="product-pics" class="product-pics"> </div>
          <div id="product-desc" class="product-desc"> </div>
        </div>
      </div>
    </main>
    <footer id="footer-component"></footer>
  </body>
</html>
